meta(charset='utf-8')
// utf-8 works for most cases
meta(name='viewport', content='width=device-width')
// Forcing initial-scale shouldn't be necessary
meta(http-equiv='X-UA-Compatible', content='IE=edge')
// Use the latest (edge) version of IE rendering engine
meta(name='x-apple-disable-message-reformatting' content="")
// Disable auto-scale in iOS 10 Mail entirely

link(rel='apple-touch-icon', sizes='180x180', href=`${skinImages}/apple-touch-icon.png`)
link(rel='icon', type='image/png', href=`${skinImages}/favicon-32x32.png`, sizes='32x32')
link(rel='icon', type='image/png', href=`${skinImages}/android-chrome-192x192.png`, sizes='192x192')
link(rel='icon', type='image/png', href=`${skinImages}/favicon-16x16.png`, sizes='16x16')
link(rel='manifest', href=`${skinImages}/manifest.json`)
link(rel='mask-icon', href=`${skinImages}/safari-pinned-tab.svg`, color='#5bbad5')
meta(name='msapplication-TileColor', content='#da532c')
meta(name='msapplication-TileImage', content=`${skinImages}/mstile-144x144.png`)
meta(name='theme-color', content='#ffffff')
